@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-zinc-100 antialiased selection:bg-cyan-900 selection:text-cyan-100;
  }

  /* Scrollbar ala Cyber UI */
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-800 hover:bg-zinc-700;
  }
}
